
.background
  background: url("../images/background image.png")
  background-size: cover
  min-height: 100vh
  background-position: center
  background-repeat: no-repeat


.conatiner-h
  height: 100%

.transparent-input
  background-color: rgba(255,255,255,0.7) !important

.logo
  width: 3.688rem
  height: 3.688rem
